.box {
  width: 300px;
  padding: 50px;
  border: 15px solid rgb(0, 0, 255); /* blue border */
  margin: 20px;
  background-color: rgb(173, 216, 230); /* lightblue */
  box-sizing: content-box;
  font-family: monospace;
}
